<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/userHome.css">
    <link rel="stylesheet" href="/src/main.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>About</title>
    
</head>
<body>

        <!-- Navbar -->
    <header>
        <nav  class="nav">
            <div  style="background-color: white" class="first-nav">
                <div class="three-dash item" ><i class="fa-solid fa-bars"></i></div>
                <div class="title item" >Guzo</div>

            <div  class="second-nav">
                    <div class="notification item"><i class="fa-solid fa-bell notification-bar"></i></div>
                    <div class="user-container item"><i class="fa-solid fa-circle-user user"></i>
                    <div class="name-container item"><h3 class="user">Honelign<br> Yohannes</h3></div>
                </div>
                    
                </div>
            </div>
        </nav>
    </header>

    <!--footer-->
     <div style="z-index: 1000;" class="footer">
        <p>
            &copy; Developed By 
            <a style="color:black;" href="https://portfolio-5blt.onrender.com/">Honelign</a>
        </p>
    </div> 
<script src="src/userHome.js"></script>
    
</body>
</html>