<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/views.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Ask AI</title>
    
</head>
<body>

  <div class="container">
        <!-- Navbar -->
    <header>
        <nav class="nav">

            <div  class="first-nav nav-part">
                <div class="three-dash item" ><i class="fa-solid fa-bars"></i></div>
                <div class="title item" ><a style="text-decoration: none; color: black;" href="home"> Guzo</a></div>
            </div>

            <div  style="z-index:1000;" class="nav-part">
                <div class="item"><h1>Ask AI</h1></div>
            </div>
              
            <div  class="second-nav nav-part">
                <div class="nav-part">
                        <div style="margin-left: -7%;" class="notification item"><a href="notifications"> <i class="fa-solid fa-bell notification-bar"></i></a></div>
                        <div style="margin-right: -7%;" class="user-container item"><a href="profile"><i class="fa-solid fa-circle-user user"></i></a></div>                   
                        <div class="name-container item"><a href="profile"> <h3 class="user">Honelign <br> Yohannes</h3></a></div>
                </div>
            </div>

        </nav>
    </header>

    <div class="side-bar">
        <div class="side-bar-container">
            <div class="routes sid-option"><a href="home"><p>Home</p></a></div>
             <div class="route sid-option"><a href="routes"><p>Routes</p></a></div>
            <div class="Ask sid-option"><a href="Ask"><p>Ask AI</p></a></div>
            <div class="settings sid-option"><p>Settings</p></div>
            <div class="About sid-option"><a href="about"><p>About</p></a></div>
            <div class="Logout sid-option"><a href="logout"><p>Logout</p></a></div>
        </div>
    </div>

    <div class="explanation">
        <ul class="explanation-list">
            <h2>Here is an AI model trained to answer everything related with Guzo<br></h2><h3>Just ask here.It will assit you with:</h3>
            <li>How to use the app</li>
            <li>The features and services  of the app</li>
            <li>Available Buses right now with real time tracking</li>
            <li>Bus schedules and routes.</li>
            <li>Recommendations for nearby routes and stops that match your trip</li>

        </ul>
    </div>

    <div class="input-container" style="margin-top: 5vh;">
      <div class="titl">
        <h1>What can I help with?</h1>
      </div>

      <div class="form">
        <form action="/other" method="post">
          <input 
            class="input1" 
            autocomplete="off" 
            autocorrect="off" 
            type="text"
            name="user_input" 
            placeholder="Ask me anything about Guzo..." 
            required
          >
          <button class="btns" type="submit">
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  </div>

    <!--footer-->
     <div style="z-index: 1000;" class="footer">
        <p>
            &copy; Developed By 
            <a style="color:black;" href="https://portfolio-5blt.onrender.com/">Honelign</a>
        </p>
    </div> 
   
<script src="src/userHome.js"></script>

</body>
</html>