<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/src/Busman.css">
</head>
<body>

     <header>
        <nav  class="nav">
            <div  style="background-color: white; z-index:1000;" class="first-nav">
                <div class="three-dash item" ><i class="fa-solid fa-bars"></i></div>
                <div class="title item" >Guzo</div>
            </div>

            <div style="z-index:1000;" class="second-nav">
                    <div class="notification item"><a href="notifications"> <i class="fa-solid fa-bell notification-bar"></i></a></div>
                    <div class="user-container item"><a href="profile"> <i class="fa-solid fa-circle-user user"></i></a>
                    <div class="name-container item"> <a href="profile"> <h3 class="user">Honelign<br> Yohannes</h3></a></div>
            </div>                    

        </nav>
    </header>
    
    
    <div class="footer">
        <p>
            &copy; Developed By 
            <a style="color:black;" href="https://portfolio-5blt.onrender.com/">Honelign</a>
        </p>
    </div> 

</body>
</html>