<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="/src/shared.css">
    <link rel="stylesheet" href="/src/userHome.css">
    <link rel="stylesheet" href="/src/main.css">
    <style>

        .search-bar h2{
            text-align: center; position:relative; bottom:7px;
        }
        @media (max-width: 600px) {
            .search-bar h2{
                position: relative;
                bottom:0;
            }
        }
    </style>



    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <nav  class="nav">
            <div  style="background-color: white; z-index:1000;" class="first-nav">
                <div class="three-dash item" ><i class="fa-solid fa-bars"></i></div>
                <div class="title item" >Guzo</div>
            </div>
           
            <div  style="z-index:1000;" class="search-bar item">
                <h2  >comments</h2>
             </div>

            <div style="z-index:1000;" class="second-nav">
                    <div class="notification item"><a href="notifications"> <i class="fa-solid fa-bell notification-bar"></i></a></div>
                    <div class="user-container item"><a href="profile"> <i class="fa-solid fa-bus user"></i></a>
                    <div class="name-container item"> <a href="profile"> <h3 class="user">Bus Station<br> Name</h3></a></div>
            </div>
                    
                </div>
            </div>
   

        </nav>
    </header>

    <div class="side-bar">
        <div class="side-bar-container">
            <div class="routes sid-option"><a href="home"><p>Home</p></a></div>
             <div class="route sid-option"><a href="comments"><p>Comments</p></a></div>
            <div class="settings sid-option"><p>Settings</p></div>
            <div class="About sid-option"><a href="about"><p>About</p></a></div>
            <div class="Logout sid-option"><a href="logout"><p>Logout</p></a></div>
        </div>
    </div>

    
    
    
    <div class="footer">
        <p>
            &copy; Developed By 
            <a style="color:black;" href="https://portfolio-5blt.onrender.com/">Honelign</a>
        </p>
    </div> 
<script src="/src/userHome.js"></script>
</body>
</html>