<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guzo</title>
    <link rel="stylesheet" href="/src/userHome.css">
    <link rel="stylesheet" href="/src/main.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav  class="nav">
            <div  style="background-color: white; z-index:1000;" class="first-nav">
                <div class="three-dash item" ><i class="fa-solid fa-bars"></i></div>
                <div class="title item" >Guzo</div>
            </div>
            <!--<div class="buttons">
                <button class="btn1">Home</button>
                <button class="btn2">Trip History</button>
                <button class="btn2">Logout</button>
            </div>
            <div class="menu">
                <button class="btn4">Menu</button>
            </div>-->
            <div  style="z-index:1000;" class="search-bar item">
                <input type="text" class="input-field"  placeholder="search routes." name="searchRoute">
                <i class="fa-solid fa-search"></i>
             </div>

            <div style="z-index:1000;" class="second-nav">
                    <div class="notification item"><a href="notifications"> <i class="fa-solid fa-bell notification-bar"></i></a></div>
                    <div class="user-container item"><i class="fa-solid fa-circle-user user"></i>
                    <div class="name-container item"><h3 class="user">Honelign<br> Yohannes</h3></div>
                </div>
                    
                </div>
            </div>
   

        </nav>
    </header>

    <div class="side-bar">
        <div class="side-bar-container">
             <div class="routes sid-option"><a href="routes"><p>Routes</p></a></div>
            <div class="Ask sid-option"><a href="Ask"><p>Ask AI</p></a></div>
            <div class="settings sid-option"><p>Settings</p></div>
            <div class="About sid-option"><a href="about"><p>About</p></a></div>
            <div class="Logout sid-option"><a href="logout"><p>Logout</p></a></div>
        </div>
    </div>

    <div class="Mcontainer">
        <div class="hero">        
        </div>

        <div class="form-main">
            <div class="form-container">
                <div class="adjust">
                    <div class="text">Book Your Trip</div>
                    <div class="form">
                        <div class="departure input"><input type="text" placeholder="Departure"  name="From"/></div>
                        <div class="destination input"><input type="text" placeholder="To"  name="destination"/></div>
                        <div class="date input"><input type="date" name="date"/></div>
                        <div  class="search input"> <button type="submit">Search</button></div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container2">
        <div class="inner-container">
            <div style="background-color:rgb(48,146,93);" class="availables item">
                <h3>Available Buses</h3>
                <p>Here are all buses <br>available for booking right now.<br>Click the button and view the lists </p>
                <a href="availableBuses"><button>View</button></a>
            </div>
            <div style="background-color:rgb(48,146,93);"  class="ticket item">
                <h3>Your Bookings</h3>
                <p>You can find your current Bookings <br> with tickets and Booking history of your <br> travel expreience</p>
                <a href="userBooking"><button>View</button></a>
            </div>
            <div style="background-color: rgb(48,146,93);" class="stations item">
                <h3>Bus Stations</h3>
                <p>Here are all Bus station lists with <br> available buses,amenities ,ratings an</p>
                <a href="busStations"><button>View</button></a>
            </div>
        </div>
    </div>


     <!--footer-->
     <div style="z-index: 1000;" class="footer">
        <p>
            &copy; Developed By 
            <a style="color:black;" href="https://portfolio-5blt.onrender.com/">Honelign</a>
        </p>
    </div> 

    <script src="src/userHome.js"></script>

</body>
</html>